<!-- templates/compensacion.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>compensacion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tablaRegistros.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/compensacion.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
</head>
<body>
  <div class="dashboardContent">
    {% extends 'views/sidebar.html' %}

    {% block content %}
    <div class="dashboard">
        <div>
            <h2>Compensación</h2>
        </div>
        <div class="cards">
            <section class="cardContainer">
                  <div class="calendar">
                    <label for="date1">Fecha Inicial</label>
                    <input type="date" id="date1" name="date1">
                </div>
                <div class="calendar">
                    <label for="date2">Fecha Final</label>
                    <input type="date" id="date2" name="date2">
                </div>
                <div id="loaderBuscar" style="display: none;">
                    <i class="fas fa-spinner fa-spin"></i> Buscando...
                </div>
                <button id="buscarBtn" type="button" onclick="buscarRegistros()">Buscar</button>
                <div id="loaderExportar" style="display: none;">
                    <i class="fas fa-spinner fa-spin"></i> Exportando...
                </div>
                <button id="exportarBtn" type="button" onclick="exportToExcel()">Exportar a Excel</button>
            </section>
            <section class="table">
                <div class="headerTable">
                    <h2>Auxiliares</h2>
                </div>
                <div class="tableList">
                    {% include "views/tablaRegistros.html" %}
                </div>
            </section>
        </div>
  </div>
  <script src="../../static/js/buscarRegistros.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {% endblock %}
  
</body>
</html>