<!-- templates/registroCajas.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/registrosCajas.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <!-- Contenido -->
    <div class="dashboardContent">
      {% extends 'views/sidebar.html' %} {% block content %}
      <div class="dashboard">
        <div>
          <h2>Registros Por Cajas</h2>
        </div>
        <div class="cards">
          <section class="cardContainer">
            <form>
              <div class="calendar">
                <label for="date1">Fecha Inicial</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" />
              </div>
              <div class="calendar">
                <label for="date2">Fecha Final</label>
                <input type="date" id="fecha_fin" name="fecha_fin" />
              </div>
              <div id="loader" style="display: none">
                <i class="fas fa-spinner fa-spin"></i> Cargando...
              </div>
              <button id="buscarBtn" type="button" onclick="buscarRegistros()">
                Buscar
              </button>
            </form>
          </section>
          <section class="graficoContent">
            <canvas id="productividadChartjs"></canvas>
          </section>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@latest/dist/Chart.min.js"></script>
      
       <script>
        // Configurar y renderizar el gráfico inicialmente con datos vacíos
        var productividadCtx = document
          .getElementById("productividadChartjs")
          .getContext("2d");
        var productividadChart = new Chart(productividadCtx, {
          type: "bar",
          data: {
            labels: [],
            datasets: [
              {
                label: "Productividad por Registros",
                data: [],
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 1,
                type: "bar",
              },
            ],
          },
          options: {
            // Opciones de configuración del gráfico
          },
        });

        // Función para realizar la solicitud AJAX y actualizar el gráfico
        function buscarRegistros() {
          var fechaInicio = document.getElementById("fecha_inicio").value;
          var fechaFin = document.getElementById("fecha_fin").value;
          console.log(fecha_inicio, fecha_fin);

          document.getElementById("loader").style.display = "block";
          // Construir la URL con las fechas
          var url =
            "{{ url_for('generar_datos_grafico') }}?fecha_inicio=" +
            fechaInicio +
            "&fecha_fin=" +
            fechaFin;

          // Realizar la solicitud AJAX para obtener los nuevos datos del gráfico
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
              document.getElementById("loader").style.display = "none";
              if (xhr.status == 200) {
                // Actualizar el gráfico con los nuevos datos
                var productividadData = JSON.parse(xhr.responseText);
                console.log(productividadData);
                productividadChart.data.labels = productividadData.labels;
                productividadChart.data.datasets[0].data =
                  productividadData.datasets[0].data;
                productividadChart.update();
              } else {
                // Manejar casos de error
                console.error(
                  "Error al realizar la solicitud AJAX: " + xhr.status
                );
              }
            }
          };
          xhr.open("GET", url, true);
          xhr.send();
        }
      </script>
      {% endblock %}
    </div>
  </body>
</html>
