<!-- templates/views/tablaRegistros.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tablaRegistros.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
</head>
<body>
    {% block content %}
        <table id="tablaRegistros" class="tabla">
            <thead>
                <tr>
                    <th align="center">Nombre Tienda</th>
                    <th align="center">Nombre Vendedor</th>
                    <th align="center">Peso Total</th>
                    <th align="center">Cantidad Total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in registros_sede %}
                <tr>
                  <td align="center">{{ row['NombreTienda'] }}</td> <!-- Cédula -->
                  <td align="center">{{ row['NombreVendedor'] }}</td>         <!-- Nombre -->
                 <!-- Registros -->
                  <td align="center">{{ row['PesoTotal'] }}%</td>
                  <td align="center">{{ row['Porcentaje'] }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
  {% endblock %}
  
</body>
</html>