<!-- templates/registro.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/registrar.css') }}"
    />
</head>
<body>
    <div class="container">
        <div class="formContainer-register">
            <div class="logovaq">
                <img class="logo-vq" src="{{ url_for('static', filename='images/logoVaquita.png') }}" alt="logo">
            </div>
            <h3>¡Regístrate!</h3>
            <form class="form" method="post" action="{{url_for("registro")}}">
                <div class="inputContainer-register">
                    <div class="left-register">
                        <label for="usuario">Usuario</label>
                        <input name="username" id="username" type="text" placeholder="Usuario..." required>
                    </div>
                    <i class="fa fa-user"></i>
                </div>
                <div class="inputContainer-register">
                    <div class="left-register">
                        <label for="password">Contraseña</label>
                        <input name="password" id="password" type="password" placeholder="Contraseña" required>
                    </div>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="inputContainer-register">
                    <div class="left-register">
                        <label for="password">Contraseña</label>
                        <input name="passwordConfirm" id="passwordConfirm" type="password" placeholder="Confirmar Contraseña" required>
                    </div>
                    <i class="fa fa-lock"></i>
                </div>
                <div class="inputContainer-register">
                    <div class="left-register">
                        <select id="cargo" name="cargo" class="opcion-select">
                          <option value="" disabled selected>
                            Selecciona tu cargo...
                          </option>
                          <option value="01">Gestion Humana</option>
                          <option value="02">Administrador</option>
                          <option value="03">Lider de Cajas</option>
                          <option value="04">Isontrol</option>
                        </select>
                    </div>
                      <i class="fa fa-store"></i>
                </div>
                <div class="inputContainer-register">
                    <div class="left-register">
                        <select id="sede" name="sede" class="opcion-select">
                          <option value="" disabled selected>
                            Selecciona la sede...
                          </option>
                          <option value="LA 33">La 33</option>
                          <option value="SAN CRISTOBAL">San Cristobal</option>
                          <option value="POBLADO">Poblado</option>
                          <option value="RIONEGRO">Rionegro</option>
                          <option value="SABANETA AVENIDA">Sabaneta Avenida</option>
                          <option value="INTERMEDIA">Intermedia</option>
                          <option value="SAN ANTONIO DE PRADO">San Antonio de Prado</option>
                          <option value="SABANETA PARQUE">Sabaneta Parque</option>
                          <option value="PEDREGAL">Pedregal</option>
                          <option value="SAN JOAQUIN">San Joaquin</option>
                          <option value="FLORESTA">Floresta</option>
                          <option value="SAN MARCOS">San Marcos</option>
                          <option value="LAURELES">Laureles</option>
                        </select>
                    </div>
                      <i class="fa fa-store"></i>
                </div>
                <button type="submit" id="registroBtn">Registrarme</button>
                <p>¿Tienes una cuenta? <a href="{{url_for('login')}}">inicia sesion!</a></p>
                    <div class="msg">
                        <div class="mensaje">{{ msg }}</div>
                    </div> 
            </form>
        </div>
    </div>
</body>
</html>